<!DOCTYPE html>
<html>
<head>
    <title>Result</title>
    <style>
        body { font-family: Arial; background: #f2f2f2; text-align: center; }
        .box { background: white; display: inline-block; padding: 40px; margin-top: 100px; border-radius: 10px; }
        h2 { color: black; }
        a { text-decoration: none; }
        button { padding: 12px 25px; background: green; color: white; border: none; border-radius: 8px; font-size: 16px; cursor: pointer; }
        button:hover { background: darkgreen; }
    </style>
</head>
<body>
    <div class="box">
        <h1>Prediction Result</h1>
        <h2>{{ prediction_text }}</h2>
        <br>
        <a href="/predict"><button>Try Again</button></a>
    </div>
</body>
</html>
